<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Register</title>
</head>
<body class="bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-orange-400 to-yellow-300">
    {% load tailwind_filters %}

    {% block content %}
<!-- ----------------------------------- -->
<section class="">
    <div class="px-6 h-full text-gray-800">
        <div class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6">
            <div class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-2/3 md:w-9/12 mb-12 md:mb-0">
                <h1 class="title text-purple-200 font-bold text-3xl text-center">REGISTRO DE USUARIO</h1>
                <img src="https://static-files-bomberos.s3.amazonaws.com/Fondo+bomberos.jpg"
                    class="md:mb-64" alt="Sample image" />
            </div>
            <div class="xl:ml-20 xl:w-4/12 lg:w-4/12 md:w-8/12 ">
                <form action="" method="post">
                    {% csrf_token %} 
                    {{ form|crispy }}

            </div>
            <div class="flex justify-between  ">
                <div class=" ">
                    <a href="" class="mr-80 px-2 justify-between font-bold text-xl text-white hover:text-gray-100 transition duration-300 ease-in-out">Regresar al Panel </a>
                    <button type="submit" value="registrar" class="mb-2 inline-block px-6 py-2.5 bg-orange-800 text-white font-medium text-xl leading-tight uppercase rounded shadow-md hover:bg-orange-700 hover:shadow-lg focus:bg-orange-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out">Crear Usuario</button>
                </div>
            </div>
            
            </form>
        </div>
    </div>
</div>
</section>
<!-- ------------------------------------------- -->

{% endblock content %} 

</body>
</html>
